body {
    font-family: tahoma;
}

button:hover {
    cursor: pointer;
}

#dtes_logo {
    display: block;
    margin: auto;
    width: 10em;
    height: 8em;
    border: 1px solid #000; 
    margin-bottom: 3em;
}

#main-container {
    margin: auto;
    width: 90%;
}

@media only screen and (min-width: 600px) {
    #main-container {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    #main-container {
        width: 30%;
    }
}

#main-container table {
    width: 100%;
}

th {
    border: 1px solid #d9d9d9;
    padding: 0.5em;
    font-weight: normal;
}

td {
    border: 1px solid #d9d9d9;
    padding: 0.25em;
}
